.home-main {
  background-image: url('../../assets/images/home/bg_gradient_top.png'), url('../../assets/images/home/bg_gradient_bottom.png');
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: contain;
}