/* stylelint-disable selector-class-pattern */
@import '/src/assets/theme/color.scss';
@import '/src/assets/theme/constants.scss';

.brandModuleWrap {
  background-image: url('../../../../assets/images/home/bg_dots.png'), url('../../../../assets/images/home/bg_dots.png');
  background-repeat: no-repeat;
  background-position: -69px calc(100% + 392px), calc(100% + 58px) -134px;
  background-size: auto 424px;

  .brandModuleContainer {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: $divide-1080;
    padding: 263px 0 180px;

    .brandModuleHeader {
      position: absolute;
      left: -36px;
      top: 189px;
      width: 125px;
      height: auto;
    }

    .brandModuleFooter {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 117px;
      height: 113px;
      overflow: hidden;
    }

    .brandModuleTitle {
      margin-top: 78px;
      color: $primary-text;
      text-align: center;
      font-family: Poppins-Bold, sans-serif;
      font-size: 85px;
      font-style: normal;
      font-weight: 700;
      line-height: 85px; /* 135px */

      .purple {
        color: $brand;
      }
    }
  
    .brandModuleDesc {
      margin: 45px 0;
      color: $primary-text;
      text-align: center;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 28px */
    }

    .brandModuleBtns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
    }
  }

  @media screen and (max-width: $divide-1080) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;

    .brandModuleContainer {
      max-width: $divide-1080;
      padding: 200px 20px 128px;

      .brandModuleHeader {
        top: 168px;
        left: 22px;
        width: 166px;
      }

      .brandModuleTitle {
        margin-top: 78px;
        font-size: 78px;
        line-height: 78px;
      }
    
      .brandModuleDesc {
        margin: 45px 0;
        font-size: 22px;
        font-weight: 400;
        line-height: 100%;
      }
    }
  }

  @media screen and (max-width: $divide-991) {
    background-image: url('../../../../assets/images/home/bg_dots.png'), url('../../../../assets/images/home/bg_dots.png'), url('../../../../assets/images/home/bg_dots.png');
    background-position: -15px 175px, -15px calc(100% + 12px), calc(100% + 34px) -26px;
    background-size: auto 220px;

    .brandModuleContainer {
      max-width: 100%;
      padding: 200px 20px 128px;

      .brandModuleHeader {
        top: 128px;
        left: 22px;
        width: 126px;
      }

      .brandModuleTitle {
        margin-top: 46px;
        font-size: 61px;
        line-height: 61px;
      }
    
      .brandModuleDesc {
        margin: 64px 0;
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: $divide-767) {
    background-image: url('../../../../assets/images/home/bg_dots.png'), url('../../../../assets/images/home/bg_dots.png'), url('../../../../assets/images/home/bg_dots.png');
    background-position: -15px 175px, calc(100% + 34px) calc(100% - 167px), calc(100% + 34px) -26px;
    background-size: auto 95px;

    .brandModuleContainer {
      padding: 196px 0 182px;

      .brandModuleHeader {
        top: 98px;
        left: 22px;
        width: 90px;
      }

      .brandModuleFooter {
        bottom: 0;
        width: 117px;
      }

      .brandModuleTitle {
        margin-top: 44px;
        font-size: 40px;
        line-height: 40px;
      }
    
      .brandModuleDesc {
        margin: 30px 0;
        font-size: 16px;
        line-height: 100%;
      }
    }
  }
}

